# EditorConfig is awesome: http://EditorConfig.org/

# top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 3
trim_trailing_whitespace = true
insert_final_newline = true

[*.sh]
end_of_line = lf

[*.bat]
end_of_line = crlf

[{*.css,*.html,*.js,*.json,*.rb,*.scss,*.sh,*.vbs,*.yml,*.xml}]
indent_size = 2

[{*.svg}]
indent_size = 1

[{**/3rd/**,*.diff}]
trim_trailing_whitespace = no
charset =
