# Default
*         text=auto

# Binary files
*.bmp     binary
*.dbf     binary
*.frm     binary
*.gif     binary
*.icns    binary
*.ico     binary
*.jpg     binary
*.lbl     binary
*.mdb     binary
*.odt     binary
*.pdf     binary
*.png     binary
*.sqlite3 binary
*.ttf     binary

# Legacy files
*.bat     text eol=crlf
