body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 14pt;
  line-height: 150%;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

a:hover {
  border-style: none none solid;
  border-width: 0 0 1px;
  border-color: #000088;
  border-color: rgba(0, 0, 255, .4);
}

h1 {
  color: #095fa8;
  font-size: 130%;
}

h4 {
  border-top: 1px solid rgba(0, 0, 0, .1);
  color: #095fa8;
  font-size: 115%;
  margin-bottom: 14px;
  padding-top: .8em;
}

pre {
  background-color: #f2f2f2;
  padding: 16px;
  overflow: scroll;
}

pre, code {
  font-family: Hack, Consolas, Menlo, 'Droid Sans Mono', 'Source Code Pro', 'Liberation Mono', 'Oxygen Mono', 'Andale Mono', monospace;
  font-size: 12pt;
}

.name {
  font-size: 100%;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 4px;
}

.oneliner {
  font-weight: bold;
  font-size: 115%;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 14px;
}

.itemtitle {
  color: #095fa8;
  font-weight: bold;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 4px;
}

.itemtext {
  margin-left: 10px;
  padding-bottom: 4px;
}

.examples {
  margin-left: 10px;
  margin-right: 10px;
}

.tests {
  margin-left: 10px;
  padding-bottom: 4px;
}
