body {
  background-color: #f8f8f8;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 14pt;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

header {
  -position: fixed;
  top: 0;
  background-color: #0974c5;
  color: #f0f0f0;
  border: none;
  padding: 0 20px;
  margin: 0;
}

header h1 {
  font-weight: normal;
}

footer {
  background: #333;
  color: #bbb;
  font-size: 75%;
  line-height: 150%;
  margin: auto;
  padding: .6em 1em;
  height: 60px;
  text-align: center;
  width: auto;
}

footer a {
  color: #ddd;
  text-decoration: none;
}

footer a:hover {
  border: none;
  color: #f8f8f8;
  transition: color .25s;
}

footer a:active {
  color: #f8f8f8;
}

main {
  margin: 0 20px;
}

main section:first-child {
  -margin-top: 60px;
  border-top: 0;
}

a {
  text-decoration: none;
}

a:hover {
  border-style: none none solid;
  border-width: 0 0 1px;
  border-color: #000088;
  border-color: rgba(0, 0, 255, .4);
}

.entry-button {
  font-size: 75%;
  float: right;
  margin-bottom: 1em;
}

hr {
  border: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, .1);
  margin-left: 0;
}

h1 {
  font-size: 130%;
  font-weight: bold;
  padding: 14px 0;
  margin: 0;
}

h2 {
  font-size: 128%;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

section {
  border-top: 1px solid rgba(0, 0, 0, .1);
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0;
}

h4 {
  color: #095fa8;
  font-size: 125%;
  margin-top: 0;
  margin-bottom: 14px;
}

pre {
  background-color: #f2f2f2;
  font-size: 12pt;
  padding: 16px;
  overflow: scroll;
}

pre, code, .d-t {
  font-family: Hack, Consolas, Menlo, 'Droid Sans Mono', 'Source Code Pro', 'Liberation Mono', 'Oxygen Mono', 'Andale Mono', monospace;
}

code, .d-t {
  font-size: 95%;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.d-x {
  border-top: 1px solid rgba(0, 0, 0, .1);
  margin-top: 20px;
  padding: 0;
}

.d-r {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.d-it div:first-child p {
  margin-top: .2em;
}

.d-it div:last-child p {
  margin-bottom: .2em;
}

.d-t {
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  overflow: scroll;
  margin: 16px;
  width: 80%;
}

.d-t1 div:first-child {
  border-top: 0;
  background-color: #333;
  color: #f8f8f8;
}

.d-t2 div:nth-child(2) {
  background-color: #333;
  color: #f8f8f8;
}

.d-na {
  font-size: 100%;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 8px;
}

.d-ol {
  font-weight: bold;
  font-size: 115%;
  margin-left: 1em;
  margin-top: 0px;
  margin-bottom: 14px;
}

.d-d {
  color: #095fa8;
  font-weight: bold;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 8px;
}

.d-it {
  margin-left: 1em;
  padding-bottom: 8px;
}

.d-ex {
  margin-left: 1em;
  margin-right: 1em;
}

.d-te {
  margin-left: 1em;
  padding-bottom: 8px;
}

.d-sc {
  color: #000;
  font-size: 100%;
  overflow: hidden;
  text-align: center;
}

.d-sc:before,
.d-sc:after {
  border: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, .1);
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.d-sc:before {
  right: .5em;
  margin-left: -50%;
}

.d-sc:after {
  left: .5em;
  margin-right: -50%;
}
