html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  background-color: #f8f8f8;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 14pt;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  position: fixed;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: #0974c5;
  color: #f0f0f0;
  border: none;
  height: 44px;
  line-height: 44px;
}

header > div {
  font-size: 130%;
  margin: auto;
  width: 700px;
  padding: 0 15px;
}

header > div > div:first-child {
  float: left;
}

header > div > div:first-child > a > svg {
  fill: #f8f8f8;
  height: 46.1px;
  float: left;
}

header > div > div:last-child {
  float: right;
}

header a {
  color: #f0f0f0;
  text-decoration: none;
}

header a:visited {
  color: #f0f0f0;
}

header a:hover {
  border: none;
  color: #fff;
  transition: color .25s;
}

header a:active {
  color: #fff;
}

footer {
  background: #333;
  color: #bbb;
  font-size: 75%;
  line-height: 150%;
  margin: auto;
  padding: .6em 1em;
  height: 60px;
  text-align: center;
  width: auto;
}

footer a {
  color: #ddd;
  text-decoration: none;
}

footer a:visited {
  color: #ddd;
}

footer a:hover {
  border: none;
  color: #f8f8f8;
  transition: color .25s;
}

footer a:active {
  color: #f8f8f8;
}

main {
  -webkit-font-smoothing: antialiased;
  border: 0;
  border-spacing: 0;
  margin: auto;
  padding: 0;
  width: 700px;
  padding-top: 44px;
}

main section:first-child {
  border-top: 0;
}

a {
  color: #0d51e0;
  text-decoration: none;
}

a:hover {
  border-style: none none dotted;
  border-width: 0 0 1px;
  color: #ff6800;
}

.entry-button {
  font-size: 75%;
  float: right;
  margin-bottom: 1em;
}

hr {
  border: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, .1);
  margin-left: 0;
}

h1 {
  font-size: 130%;
  font-weight: bold;
}

h2 {
  font-size: 128%;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

aside {
  float: left;
  font-size: 9pt !important;
  background-color: #f2f2f2;
  -background-color: #363636;
  width: 180px;
  -border-radius: 0 0 4px 0;
  line-height: 135%;
  overflow: hidden;
  margin-top: 44px;
  padding-top: 10px;
  position: fixed;
  overflow-y: scroll;
  height: calc(100% - 44px - 10px);
}

aside hr {
  width: 95%;
}

aside a {
  display: block;
  list-style: none;
  text-indent: 0;
  padding: 0;
  margin: 0;
  padding-left: 8px;
  color: #333;
  -color: #ddd;
  padding-top: 1px;
  padding-bottom: 1px;
  white-space: nowrap;
}

aside a:visited {
  color: #556acb;
  -color: #859afb;
}

aside a:hover {
  border-style: none;
  background-color: #0974c5;
  -background-color: #ff6800;
  color: #fff;
}

aside a:hover:visited {
  color: #dde1f5;
}

/*
aside a[title]:hover:after {
  content: attr(title);
  font-size: 7.5pt !important;
  position: absolute;
  left: 8px;
  background-color: #0974c5;
  -background-color: #ff6800;
  color: #fdfdfd;
  height: inherit;
  margin-top: -1px;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-right: 8px;
  position: fixed;
}
*/

section {
  border-top: 1px solid rgba(0, 0, 0, .1);
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0;
}

h4 {
  color: #095fa8;
  font-size: 125%;
  margin-top: 0;
  margin-bottom: 14px;
}

pre {
  background-color: #f2f2f2;
  color: #2e2a24;
  border: none;
  border-left: 4px solid #aaaaaa;
  border-radius: 0 3px 3px 0;
  padding: 8px 16px;
  margin-left: 16px;
  overflow: scroll;
}

pre, code, .d-t, aside {
  font-family: Hack, Consolas, Menlo, 'Droid Sans Mono', 'Source Code Pro', 'Liberation Mono', 'Oxygen Mono', 'Andale Mono', monospace;
  font-size: 85%;
}

h4 code {
  font-size: 95%;
}

aside code {
  font-size: 80%;
}

.d-id:target {
  padding-top: 62px;  /* 44px + 18px */
}

.d-it code {
  color: #606060;
  color: #2e2a24;
  background-color: #efeff8;
  font-weight-: bold;
  border: none;
  border-radius: 10px;
  margin-right: 0;
  padding: 2px 7px;
}

.d-sy pre {
  color: #2e2a24;
  font-weight: bold;
  background-color: inherit;
  border: none;
  margin: 0;
  padding-left: 0;
}

.d-sy code {
  color: #2e2a24;
  background-color: inherit;
  font-weight: bold;
  padding: 0;
}

code code {
  font-size: 100%;
  margin: 0 !important;
  padding: 0 !important;
  border: none;
}

.d-it .d-key {
  display: inline-block;
  min-width: .7em;
  text-align: center;

  font-weight: normal;
  padding: 3px 8px;
  border-radius: 5px;
  background-color: #333;
  color: #f8f8f8;
  text-transform: capitalize;
  font-size: 94%;
  line-height: 120%;
  margin: 0 1px;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.d-y > div, hr, h3 {
  margin-left: 1em;
}

/*
.d-y > div, hr, h3 {
  margin-left: 32px;
  text-indent: -12px;
}

.d-y > div:before {
  content: "•\00a0\00a0";
}
*/

.d-x {
  border-top: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 20px;
  padding: 0;
}

.d-r {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.d-it div:first-child p {
  margin-top: .2em;
}

.d-it div:last-child p {
  margin-bottom: .2em;
}

.d-t {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  overflow: scroll;
  margin: 16px;
  width: 80%;
  white-space: nowrap;
}

.d-t0 div:first-child {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.d-t1 div:first-child {
  border-top: 0;
  background-color: #333;
  color: #f8f8f8;
}

.d-t2 div:nth-child(2) {
  background-color: #333;
  color: #f8f8f8;
}

.d-na {
  font-size: 100%;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 8px;
}

.d-so {
  font-size: 60%;
  font-weight: normal;
  margin-left: 5px;
  vertical-align: super;
}

.d-ol {
  font-weight: bold;
  font-size: 115%;
  margin-left: 1em;
  margin-top: 0px;
  margin-bottom: 14px;
}

.d-d {
  color: #095fa8;
  font-weight: bold;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 8px;
}

.d-it {
  margin-left: 1em;
  padding-bottom: 8px;
}

.d-ex {
  margin: 8px 0 15px 1em;
}

.d-te {
  margin-left: 1em;
  padding-bottom: 8px;
}

.d-sc {
  color: #000;
  font-size: 100%;
  overflow: hidden;
  text-align: center;
}

.d-sc:before,
.d-sc:after {
  border: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, .1);
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.d-sc:before {
  right: .5em;
  margin-left: -50%;
}

.d-sc:after {
  left: .5em;
  margin-right: -50%;
}

/* drop-down menu magic --------------------------------------------------- */

.menu {
  display: table;
}

.menu > nav {
  display: table-row;
}

.menu > nav > nav {
  display: table-cell;
}

/* The container <nav> - needed to position the dropdown content */
.dropdown {
  display: inline-block !important;
  position: relative;
}

/* Dropdown Button */
.dropbtn {
  cursor: pointer;
  margin-left: 15px;
  transition: color .25s;
}

.menu hr {
  border: 0;
  border-bottom: 1px solid rgba(250, 240, 240, .6);
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 92%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-size: 80%;
  background-color: #0974c5;
  display: none !important;
  line-height: 130%;
  margin-top: -5px;
  margin-left: 6px;
  min-width: 9em;
  position: absolute;
  z-index: 2;
  padding: 5px 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  border: 0;
  color: #f0f0f0;
  display: block !important;
  padding: 4px;
  text-align: left;
  text-decoration: none;
  transition: none;
}

.lang .dropbtn {
  cursor: default;
}

.lang .dropdown-content {
  min-width: 10px !important;
}

.lang .dropdown-content a {
  margin: 0;
  padding: 3px 4px 0px 4px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fff;
  color: #0974c5;
  transition: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block !important;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #fff;
  transition: color .5s;
}

@media only screen {
  aside {
    width: calc(((100% - 700px) / 2) - 15px);
  }
}

@media screen and (max-width: 975px) {
  aside {
    display: none;
  }
}

@media screen and (max-width: 737px) {
  header > div {
    width: auto;
  }

  main {
    margin: 0 15px;
    width: auto;
  }

  .dropdown-content {
    position: absolute;
    right: -26px;
  }

  .lang .dropdown-content {
    position: absolute;
    right: -15px;
  }
}

@media screen and (max-width: 450px) {
  body {
    -font-size: 12pt;
  }

  header > div > div:first-child > a > svg {
    display: none;
  }

  header {
    position: absolute;
    height: 74px;
    line-height: 36px;
  }

  aside {
    padding-top: 74px;
  }

  main {
    padding-top: 74px;
  }
}
