/* Copyright 2011-present Viktor Szakats (vszakats.net/harbour) */

#if !( defined( OS2 ) || defined( __OS2__ ) || defined( OS_2 ) )

#include "hbver.h"

#if defined( _HB_INCLUDE_ICON ) && \
    ! defined( __BORLANDC__ ) && ! defined( UNDER_CE )
1 ICON DISCARDABLE "../package/harbour.ico"
#endif

/* NOTE: BCC 5.5 has an RC preprocessor bug that in certain cases will append
         a trash byte to the return value of this macro. Such trash byte
         will result in a broken manifest record and the executable rejected
         by the OS (e.g. Windows 10) to run. It can be "fixed" by using
         a macro name shorter or longer by one character. But, instead of
         such non-zero-cost hacks, please switch to a modern compiler. */
#define HB_MACRO2STRING( macro )   HB_MACRO2STRING_( macro )
#define HB_MACRO2STRING_( macro )  #macro

#define HB_VER_PROD                HB_VER_MAJOR,HB_VER_MINOR,HB_VER_RELEASE,0
#define HB_VER_PROD_STR            HB_MACRO2STRING( HB_VER_MAJOR ) "." HB_MACRO2STRING( HB_VER_MINOR ) "." HB_MACRO2STRING( HB_VER_RELEASE )
#define HB_VER_FILE                HB_VER_PROD
#define HB_VER_FILE_STR            HB_VER_PROD_STR

#define HB_NAME                    "Harbour"

/* Version info */

#include <winver.h>

VS_VERSION_INFO  VERSIONINFO
FILEVERSION      HB_VER_FILE
PRODUCTVERSION   HB_VER_PROD
FILEFLAGSMASK    VS_FFI_FILEFLAGSMASK
FILEFLAGS        0
FILEOS           VOS__WINDOWS32
FILETYPE         VFT_APP
BEGIN
   BLOCK "StringFileInfo"
   BEGIN
      BLOCK "040904B0"  /* LANGUAGE: US English (0x0409), ENCODING: Unicode (1200/0x04B0) */
      BEGIN
         VALUE "Comments",         "See LICENSE.txt for licensing terms." "\0"
         VALUE "CompanyName",      HB_NAME "\0"
         VALUE "FileDescription",  HB_NAME "\0"
         VALUE "FileVersion",      HB_VER_FILE_STR HB_VER_STATUS "\0"
         VALUE "LegalCopyright",   "Copyright © 1999-present (see application banner)" "\0"
         VALUE "ProductName",      HB_NAME "\0"
         VALUE "ProductVersion",   HB_VER_PROD_STR HB_VER_STATUS "\0"
      END
   END
   BLOCK "VarFileInfo"
   BEGIN
      VALUE "Translation", 0x0409, 0x04B0  /* LANGUAGE: US English (0x0409), ENCODING: Unicode (1200/0x04B0) */
   END
END

/* Manifest */

#if ! defined( HBMK_DYNLIB ) && ! defined( HB_DYNLIB )

/* String escaping rules:
      https://msdn.microsoft.com/library/aa381050
   Application Manifest doc, including the list of 'supportedOS Id's:
      https://msdn.microsoft.com/library/aa374191 */

#ifndef CREATEPROCESS_MANIFEST_RESOURCE_ID
#define CREATEPROCESS_MANIFEST_RESOURCE_ID  1
#endif
#ifndef RT_MANIFEST
#define RT_MANIFEST  24
#endif

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST
BEGIN
   "<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>"
   "<assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0"">"
      "<assemblyIdentity name=""" HB_NAME """ version=""" HB_VER_PROD_STR ".0"" type=""win32""/>"
      "<application xmlns=""urn:schemas-microsoft-com:asm.v3"">"
         "<windowsSettings>"
            "<dpiAware xmlns=""http:" "//schemas.microsoft.com/SMI/2005/WindowsSettings"">true</dpiAware>"
         "</windowsSettings>"
      "</application>"
      "<trustInfo xmlns=""urn:schemas-microsoft-com:asm.v3"">"
         "<security>"
            "<requestedPrivileges>"
               "<requestedExecutionLevel level=""asInvoker"" uiAccess=""false""/>"
            "</requestedPrivileges>"
         "</security>"
      "</trustInfo>"
      "<dependency>"
         "<dependentAssembly>"
            "<assemblyIdentity name=""Microsoft.Windows.Common-Controls"" version=""6.0.0.0"" type=""win32"" processorArchitecture=""*"" publicKeyToken=""6595b64144ccf1df""/>"
         "</dependentAssembly>"
      "</dependency>"
      "<compatibility xmlns=""urn:schemas-microsoft-com:compatibility.v1"">"
         "<application>"
            "<supportedOS Id=""{e2011457-1546-43c5-a5fe-008deee3d3f0}""/>"  /* Vista / Server 2008 */
            "<supportedOS Id=""{35138b9a-5d96-4fbd-8e2d-a2440225f93a}""/>"  /* 7 / Server 2008 R2 */
            "<supportedOS Id=""{4a2f28e3-53b9-4441-ba9c-d69d4a4a6e38}""/>"  /* 8 / Server 2012 */
            "<supportedOS Id=""{1f676c76-80e1-4239-95bb-83d0f6d0da78}""/>"  /* 8.1 / Server 2012 R2 */
            "<supportedOS Id=""{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}""/>"  /* 10 / Server 2016 */
         "</application>"
      "</compatibility>"
   "</assembly>"
END

#endif
#endif
